body{
        font-family: "Roboto", sans-serif; 
        color: #434455;
        background-color: #fff;
    }

    ul, ol{
        margin: 0;
        list-style: none;
        padding-left: 0;
    }
    a{
        text-decoration: none;

    }
    h1,h2,h3,h4,h5,h6,p{
        margin:0;
    }
    ul{
    list-style-type: none;
}
    .page-header{
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo{
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    text-align: center;
}
.header-logo{
    padding: 16px 0;
    display: block;
}
.header-logo .logo-part{
    color: #2e2f42;
}
.menu-nav-list, .menu-address{
    display: none;
}
.menu-button{
    padding: 0;
    border: none;
    background-color: transparent;
}
.menu-icon{
    display: block;
    fill: #2f2f37;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container{
    position: relative;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list{
    margin-bottom: 168px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}
.mobile-menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.mobile-address{
    display: flex;
    color: #434455;
    font-style: normal;
    margin-bottom: 48px;
}
.mobile-address-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.mobile-address-link{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.team-social{
    height: 40px;
    width: 40px;
}
.social-icon-link{
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icons-mobile{
    fill: #f4f4fd;
}

.main-page{
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 320px;
    padding: 72px 0;

}
.container-main{
    width: 100%;
    margin: 0 auto;
}
.main-title{
    max-width: 216px;
    height: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
    margin-bottom: 72px;
    color: #fff;
}
.main-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    background-color: #4d5ae5;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories{
    background-color: #fff;
    color: #2e2f42;
    padding: 96px 0;
}
.categories-visually{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.categories-main{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.categories-main-li{
    width: 100%;
}
.categories-icons{
    display: none;
}
.categories-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.categories-tekst{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team{
    background-color: #f4f4fd;
    padding: 96px 0;
}
.our-team-container{
    padding: 0 28px;
}
.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}
.team{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.our-team-box{
    width: 100%;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.team-list-container{
    padding: 32px 0;
}
.our-team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-team-tekst{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
}
.icon-team{
    width: 40px;
    height: 40px;
}
.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icons{
    fill: #f4f4fd;
}
.our-portfolio{
    padding: 96px 0;
}
.our-portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.our-portfolio-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}
.porfolio-li{
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.images-potekst{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-banking{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 8px;
}
.portfolio-banking-tekst{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: left;
}
.page-footer{
    background-color: #2e2f42;
    padding: 96px 0;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo{
    display: block;
    margin-bottom: 16px;
    text-align: center;
}
.footer-logo .logo-part-footer{
    color: #f4f4fd;
}
.footer-tekst{
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
}
.social-media{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.icons-footer{
    width: 40px;
    height: 40px;
}
.icon-link-footer{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-footer{
    fill: #f4f4fd;
}
.subscribe-title{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.subscribe-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.input-subscribe{
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
}
.footer-icon{
    fill: #fff;
    margin-left: 16px;
}
.cvv{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cvv.fon{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.cv-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-cv{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}
.container-form{
    margin-bottom: 8px;
}
.cv-label{
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.container-input{
    position: relative;
}
.cv-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-svg{
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-com{
    margin-bottom: 16px;
}
.cv-comment{
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.privat{
    margin-bottom: 24px;
}
.privat-input{
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.cv-policy{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    text-align: center;
    max-width: 256px;
    display: flex;
    align-items: center;
}
.nike-span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 16px;
    width: 16px;
    padding: 4px 3px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nike-svg{
    width: 10px;
    height: 8px;
}
.privacy-policy{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.button-submit{
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
color: #404bbf;
}
.icon-link-footer:hover,
.icon-link-footer:focus{
    background: #31d0aa;
}

.main-button:hover,
.main-button:focus,
.icon-link:hover,
.icon-link:focus,
.button-close:hover,
.button-close:focus{
background-color: #404bbf;
}
.button-close:hover,
.button-close:focus{
    border: none;
}