body{
        font-family: "Roboto", sans-serif; 
        color: #434455;
        background-color: #fff;
    }

    ul, ol{
        margin: 0;
        list-style: none;
        padding-left: 0;
    }
    a{
        text-decoration: none;

    }
    h1,h2,h3,h4,h5,h6,p{
        margin:0;
    }
    .page-header{
    border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    padding: 0 15px;
    gap: 332px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
}
.nav-link.linia{
    position: relative;
    color: #404bbf;
}
.nav-link.linia::after{
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: flex;
}
.logo-part {
    color: #2e2f42;
    text-transform: uppercase;
}
.nav-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
   
}
.nav-link {
padding: 24px 0;
text-decoration: none;
color: #2E2F42;
display:block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts{
    font-style: normal;
    text-decoration: none;
    font-style: none;
}
.contacts-list{
    display: flex;
    gap: 40px;
}
.contacts-list .contacts-link{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button{
    padding: 0;
    border: none;
    background-color: transparent;
}
.menu-icon{
    display: block;
    fill: #2f2f37;
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav{
    display: flex;
    align-items: flex-start;
    margin-bottom: auto;
}
.menu-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-nav-link{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-contacts{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.menu-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.menu-contacts-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social{
    padding-top: 48px;
}
.menu-social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
}
.menu-social-list-team{
    width: 40px;
    height: 40px;
}
.menu-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-page{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    text-align: center;
    margin: 0 auto;
}
.container-main{
    width: 100%;
    margin: 0 auto;
    padding-left: 282px;
    padding-right: 282px;
}
.main-title{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}
.main-button{
    font-family: "Roboto", sans-serif; 
    background-color:#4d5ae5;
    color: #ffffff;
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.64px; 
    min-width: 169px; 
    height: 56px; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto; 
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    button {
    font-family: inherit;
    cursor: pointer;
}
.categories{
    color: #2E2F42;
    background-color: #FFFFFF;
    padding: 120px 0;
}
.categories-container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.categories-visually{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.categories-main{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.categories-main-li{
    width: calc((100% - 72px) / 4);
    justify-content: space-around;
}
.categories-main h3{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.categories-title{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.categories-tekst{
    width: 264px;
    height: 104px;
}
.categories-main p{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.our-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.our-team-container{
    padding: 32px 0;
}
.our-team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team {
    width: calc((100% - 72px) / 4);
}
.team{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.our-team-box{
   background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-container{
    padding: 32px 0;
}
.team h3{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.team p{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.our-portfolio{
    background-color: #ffffff;
    color: #2e2f42;
    padding: 120px 0;
   
}
.our-portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.our-portfolio-container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.our-portfolio-list{
    gap: 48px 24px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;

}
.porfolio-li {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(46, 47, 66, 0.08) 0px 2px 1px 0px, rgba(46, 47, 66, 0.16) 0px 1px 1px 0px, rgba(46, 47, 66, 0.08) 0px 1px 6px 0px;
}
.our-portfolio-list img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.porfolio-images {
position: relative;
    overflow: hidden;
}
.images-potekst {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-li:hover .images-potekst {
    transform: translateY(0);
    
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.our-portfolio-list h3{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
}   

.page-footer{
   background-color: #2E2F42;
    color: #F4F4FD;
    height: 312px;
    padding: 100px 0;
}
.footer-logo{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-part-footer{
    color: #f4f4fd;
}
.footer-tekst{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}
.container-logo-footer{
    margin-right: 120px;
}
.social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.container-subscribe{
    margin-left: 80px;
    display: flex;
    
}
.subscribe-title{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.subscribe-label{
    display: block;
}
.input-subscribe{
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 0 8px 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-subscribe{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.social-list{
    display: flex;
    gap: 16px;
}
.icons-footer{
    width: 40px;
    height: 40px;
}
.icon-link-footer{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-footer{
    fill: #f4f4fd;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
color: #404bbf;
}
.icon-link-footer:hover,
.icon-link-footer:focus{
    background: #31d0aa;
}



.main-button:hover,
.main-button:focus,
.icon-link:hover,
.icon-link:focus,
.button-close:hover,
.button-close:focus{
background-color: #404bbf;
}
.button-close:hover,
.button-close:focus{
    border: none;
}
.categories-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
}
.icon-team {
    width: 40px;
    height: 40px;
}
.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icons {
    fill: #f4f4fd;
}
.subscribe-form{
    display: flex;
    gap: 24px;
    
}
.footer-icon{
    margin-left: 16px;
    fill: #fff;

}
.fon{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 8px;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cvv{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.cv-window{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.button-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg{
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg:focus,
.close-svg:hover{
    fill: #ffffff;
}
input:focus,
textarea:focus{
    border-color: #4D5AE5; 
}
.cv-input:focus + .input-svg {
    fill: #4D5AE5;
}
.title-cv{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
form{
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.container-form{
    margin-bottom: 8px;
}
.cv-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.container-input{
    position: relative;
}
.cv-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-com{
    margin-bottom: 16px;
}
.cv-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.privat{
    margin-bottom: 24px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.privat-input:checked + .cv-label .nike-span{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.privacy-policy{
    color: #4d5ae5;
    text-decoration: underline;
}

.button-submit{
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    height: 56px;
    padding: 14px;
    border-radius: 6px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.nike-span{
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    fill: transparent;
            
        }